name: CI/CD
on:
  push:
    branches:
      - main
      - beta
      - renovate/**
  pull_request: null
permissions:
  contents: write
  id-token: write
  issues: write
  pull-requests: write
jobs:
  lint-commit-messages:
    uses: vidavidorra/.github/.github/workflows/lint-commit-messages.yml@24ea160cd3be95b9bbfb4853d71124d2046d0d0e # v7.0.0
  lint:
    uses: vidavidorra/.github/.github/workflows/node-lint.yml@24ea160cd3be95b9bbfb4853d71124d2046d0d0e # v7.0.0
  build:
    uses: vidavidorra/.github/.github/workflows/node-build.yml@24ea160cd3be95b9bbfb4853d71124d2046d0d0e # v7.0.0
  test:
    uses: vidavidorra/.github/.github/workflows/node-test.yml@24ea160cd3be95b9bbfb4853d71124d2046d0d0e # v7.0.0
  code-coverage:
    uses: vidavidorra/.github/.github/workflows/node-test-coverage.yml@06f357a271f8bc7c0bc61cf27ec8cdb4ec9c9d26 # v8.0.0-beta.1
    needs:
      - lint
      - build
      - test
  release:
    uses: vidavidorra/.github/.github/workflows/release.yml@24ea160cd3be95b9bbfb4853d71124d2046d0d0e # v7.0.0
    needs:
      - lint-commit-messages
      - lint
      - build
      - test
      - code-coverage
    secrets:
      privateKey: ${{ secrets.RELEASE_PRIVATE_KEY }}
